channels:
  - bioconda
  - conda-forge
dependencies:
  - python =3.6.*
  - snakemake
  # disabled, breaks R in utils, but unused. FIXME
  #  - rpy2 =2.8.5  # pinned to keep conda from taking for ever
  - click
  - ruamel.yaml >0.15
  - python-drmaa
  - pandas >=0.20  # need dtype support in python csv engine
  - xlrd         # excel support
  - coloredlogs
  - setuptools_scm # versioning
  - xdg # user paths
  #### for tests: ####
  - networkx >= 2.0
  - pygraphviz
  - pytest
  - pytest-runner  # run from setup.py
  - pytest-xdist   # parallel testing
  - pytest-timeout # dump on test timeout
  - yappi          # profiler
  - pytest-cov
  - codecov
  #### for building envs with cython ###
  - gcc
