channels:
  - bioconda
  - conda-forge
dependencies:
  - python >=3.6
  - snakemake-minimal >=5.2.2
  - conda
  # disabled, breaks R in utils, but unused. FIXME
  #  - rpy2 =2.8.5  # pinned to keep conda from taking for ever
  - click
  - click-completion
  - ruamel.yaml >0.15 # new api
  - drmaa
  - pandas >=0.20  # need dtype support in python csv engine
  - xlrd         # excel support
  - coloredlogs
  - setuptools_scm >=1.17 # versioning
  - xdg # user paths
  - tqdm >=4.21 # progress bar
  - aiohttp # async http
  #### for tests: ####
  - networkx >=2.0
  - pygraphviz
  - pytest
  - pytest-runner  # run from setup.py
  - pytest-xdist   # parallel testing
  - pytest-timeout # dump on test timeout
  - yappi          # profiler
  - pytest-cov
  - codecov
  #### avoid mkl ~ 700MB ###
  - nomkl
  #### for reathedocs ####
  - urllib3 =1.22
