name: ymp
channels:
  - conda-forge
  - bioconda
dependencies:
  - python >=3.10
  - snakemake-minimal =7.32.*
  - mamba
  - conda !=4.6.11
  - click >8
  - click-completion
  - shellingham # (needed for click)
  - ruamel.yaml >0.15 # new api
  - drmaa
  - pandas >=0.20  # need dtype support in python csv engine
  - openpyxl       # excel support
  - coloredlogs
  - setuptools_scm >=3.4 # versioning
  - setuptools >=42
  - wheel
  - xdg # user paths
  - tqdm >=4.21 # progress bar
  - aiohttp # async http
  #### for tests: ####
  - networkx >=2.0
  - pygraphviz
  - pytest
  - pytest-runner  # run from setup.py
  - pytest-xdist   # parallel testing
  - pytest-timeout >=1.3 # dump on test timeout
  - yappi          # profiler
  - pytest-cov
  - codecov
  #### avoid mkl ~ 700MB ###
  - nomkl
  #### for docs ####
  - urllib3 >=1.22
  - cloud_sptheme
  - sphinx
  - sphinxcontrib-fulltoc
  - sphinx-click
  - sphinx-autodoc-typehints
  - ftputil
