sphinx ==1.7.0
cloud_sptheme
setuptools_scm
sphinxcontrib-fulltoc
sphinx-click
sphinx_autodoc_typehints
snakemake >=4.8
ftputil
click
click-completion
coloredlogs
networkx >=2
xdg
ruamel.yaml >0.15
aiohttp
tqdm
